.nav{

}

.nav__list{
    display: flex;
    
}
.nav__link{
    display: block;
    font-size: 1.1rem;
    text-transform: uppercase;
    color: $white;
    text-decoration: none;
    padding: 1.5rem;

    transition: background-color .2s linear;

    &:hover{
        background-color: $blue;
    }

}