<header class="header">
    <div class="header__left">
        <nav class="nav">
            <ul class="nav__list">
                <li>
                    <a class="nav__link" href="#">Главная</a>
                </li>
                <li>
                    <a class="nav__link" href="#">Статьи</a>
                </li>
                <li>
                    <a class="nav__link" href="#">Обо мне</a>
                </li>
                <li>
                    <a class="nav__link" href="#">Реклама</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="header__right">
        <nav class="nav">
            <ul>
                <li>
                    <a href="">Профиль</a>
                </li>
            </ul>
        </nav>
        <form action="/" method="POST">
            <input type="text">
        </form>
    </div>

</header>
