<aside class="sidebar">
    <div class="sidebar__header">
        <img src="assets/images/sidebar-header.jpg" alt="">
    </div>
    <div class="sidebar__content">
        <div class="profile">
            <img class="profile__avatar" src="https://placeholder.it/100" alt="">
            <div class="profile__name">Владислав Чаплыгин</div>
            <div class="profile__prof">блог начинающего front-end разработчик</div>
            <ul class="social">
                <li class="social__item">
                    <a href="" class="social__link">
                        <img src="assets/images/instagram.svg" alt="My Instagram">
                    </a>
                </li>
                <li class="social__item">
                    <a href="" class="social__link">
                        <img src="assets/images/vk.svg" alt="My VK">
                    </a>
                </li>
                <li class="social__item">
                    <a href="" class="social__link">
                        <img src="assets/images/pinterest.svg" alt="My Pinterest">
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="sidebar__footer"></div>
</aside>